<%= form_with model: [ @game, @game.cards.build ] do |form| %>
  <p>
    <%= form.label :value %><br>
    <%= form.text_field :value %>
  </p>
  <p>
    <%= form.label :suit %><br>
    <%= form.text_area :suit %>
  </p>
  <p>
    <%= form.label :holder %><br>
    <%= form.text_area :holder %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>